<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="6" android:versionName="0.3.3">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />
    <queries><package android:name="moe.shizuku.privileged.api" /></queries>
    <application android:label="배터리 상태" android:theme="@style/AppTheme" android:icon="@drawable/ic_battery" android:allowBackup="false" android:supportsRtl="true">
        <meta-data android:name="moe.shizuku.client.V3_SUPPORT" android:value="true" />
        <provider android:name="rikka.shizuku.ShizukuProvider" android:authorities="kr.local.galaxybattery.shizuku" android:multiprocess="false" android:enabled="true" android:exported="true" android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
